.box-shadow {
    box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.list-sht {
    max-height: 94vh;
    overflow-y: auto;
    padding-bottom: 5px;
}

.list-group-item {
    background-color: #fff;
    color: #181818;
    border: none;
}

.wrapper {
    margin-bottom: 18px;
}

.back-button{
    text-align: left;
}
.end-btn{
    display: flex;
    justify-content: space-between;
}

// Map legend
:host /deep/ .info.leaflet-control {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
:host /deep/ .info.leaflet-control h4 {
    margin: 0 0 5px;
    color: #777;
}
:host /deep/ .legend.leaflet-control {
    line-height: 18px;
    color: #555;
}
:host /deep/ .legend.leaflet-control i {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 2px;
}
:host /deep/ .info.leaflet-control p {
    margin-bottom: .3rem;
}
