.box-shadow {
    box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
.list-sht {
    max-height: 94vh;
    overflow-y: auto;
    padding-bottom: 5px;
}

.list-group-item {
    background-color: #fff;
    color: #181818;
    border: none;
}

.wrapper {
    margin-bottom: 18px;
}

.back-button{
    text-align: left;
}