<div id="cover-spin" *ngIf="loadingIndicator"></div>
<div class="row row-0">
  <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm tab-container list-sht">
    <div>
      <button type="button" class="btn btn-link btn-sm back-button" (click)="backToSites()">
        <i class="fa fa-arrow-left" aria-hidden="true"> </i>
        Retour à la liste des sites
      </button>
    </div>
    <h3>Consultation des relevés du site {{ siteName }}</h3>
    <div class="wrapper">
      <mat-tab-group>
        <mat-tab >
          <ng-template mat-tab-label>
            <mat-icon>info</mat-icon> Informations générales
          </ng-template>
          <div class="p-2">
            <p>
              <span> Identifant unique site : </span> <span class="strong "> {{ siteUuid }} </span>
            </p>
            <p>
              <span> Habitat : </span>
              <span class="strong" innerHTML="{{ nomHabitat }}"> {{ nomHabitat }} </span>
            </p>
            <p>
              <span> Organisme : </span> <span class="strong"> {{ organisme }} </span>
            </p>
            <p>
              <span> Commune : </span> <span class="strong"> {{ nomCommune }} </span>
            </p>

          </div>
        </mat-tab>
        <mat-tab >
          <ng-template mat-tab-label>
            <mat-icon>search</mat-icon> Détails
          </ng-template>
          <div class="p-2">
            <p>
              <span> Code site : </span> <span class="strong "> {{ siteCode }} </span>
            </p>
            <p>
              <span> Nom du site : </span> <span class="strong"> {{ siteName }} </span>
            </p>
            <p>
              <span> Description du site : </span> <span class="strong"> {{ siteDesc }} </span>
            </p>
          </div>
        </mat-tab>
      </mat-tab-group>

    </div>

    <div class="wrapper">
      <ngx-datatable
        class="material"
        [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'"
        [rows]="rows"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [messages]="storeService.shtConfig.list_visit_message"
        [offset]="mapListService.page.pageNumber"
        [limit]="mapListService.page.size"
      >
        <ngx-datatable-column
          *ngFor="let col of storeService.shtConfig.default_list_visit_columns"
          [name]="col.name"
          [prop]="col.prop"
          maxWidth="col.maxWidth"
        >
        </ngx-datatable-column>

        <ngx-datatable-column maxWidth="120">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <modal-sht
              classStyle="btn btn-lg btn-outline-shadow btn-ghost"
              title="Visualiser"
              iconStyle="fa fa-info-circle"
              idVisit="{{ row.id_base_visit }}"
              (visitsUp)="getSites()"
            >
            </modal-sht>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

    <div class="end-btn px-1">
      <div *ngIf="exportIsAllowed">
        <pnx-modal-download
          labelButton="Télécharger ces visites"
          [pathDownload]="storeService.urlLoad"
          [exportFormat]="storeService.shtConfig.export_available_format"
          [queryString]="storeService.queryString"
        >
        </pnx-modal-download>
      </div>
      <div *ngIf="addIsAllowed">
        <modal-sht
          classStyle="btn btn-sm btn-success pull-right"
          labelButton="Ajouter une nouvelle visite"
          iconStyle="fa fa-plus-circle"
          (visitsUp)="getSites()"
        >
        </modal-sht>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm">
    <pnx-map height="94vh">
      <pnx-geojson #geojson [onEachFeature]="onEachFeature.bind(this)" [geojson]="site">
      </pnx-geojson>
    </pnx-map>
  </div>
</div>
