# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
# Disable global trim trailing whitspace for markdown file.
# See: https://github.com/editorconfig/editorconfig-vscode/issues/153
#trim_trailing_whitespace = true

[*.py, *.sh]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.js, *ts, *scss, *.css, *.html]
indent_size = 2
trim_trailing_whitespace = true

[*.md,*.rst]
indent_size = 4
trim_trailing_whitespace = false
