# Paramètres du module
zoom_center = [44.982667966765845, 6.062455200884894]
zoom = 12
export_srid = 2154

site_message = {emptyMessage = "Aucun site à afficher ", totalMessage = "sites(s) au total"}
list_visit_message = {emptyMessage = "Aucune visite sur ce site ", totalMessage = "visites au total"}
detail_list_visit_message = {emptyMessage = "Aucune autre visite sur ce site ", totalMessage = "visites au total"}

default_site_columns = [
    { name = "Identifiant", prop = "id_base_site", width = "90"},
    { name = "Habitat", prop = "nom_habitat", width = "350"},
    { name = "Nombre de visites", prop = "nb_visit", width = "120"},
    { name = "Date de la dernière visite", prop = "date_max", width = "160"},
    { name = "Organisme", prop = "organisme", width = "200"}
]

default_list_visit_columns = [
    { name = "Date", prop = "visit_date_min"},
    { name = "Observateur(s)", prop = "observers"}
]