<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div *ngIf="idVisit && isAllowed" class="clearfix ">
      <button
        class="btn btn-warning float-right"
        data-toggle="button"
        aria-pressed="false"
        autocomplete="off"
        (click)="upVisit()"
      >
        <i class="fa fa-edit" aria-hidden="true"> </i>
        {{ labelUpVisit }}
      </button>
    </div>
    <form [formGroup]="formVisit" *ngIf="dataReady">
      <fieldset [disabled]="disabledForm">
        <div class="form-group">
          <label> Date de la visite : </label>
          <div class="">
            <pnx-date
              [parentFormControl]="formVisit.controls.visit_date_min"
              [disabled]="disabledForm"
            >
            </pnx-date>
          </div>
        </div>

        <div class="form-group">
          <label> Observateur(s) : </label>
          <div class="" id="newObserver">
            <pnx-observers
              [parentFormControl]="formVisit.controls.cor_visit_observer"
              [bindAllItem]="true"
              [disabled]="disabledForm"
              [idMenu]="storeService.shtConfig.id_menu_list_user"
            >
            </pnx-observers>
          </div>
        </div>

        <div class="form-group">
          <label> Perturbation(s) : </label>
          <div class="" id="newPerturs">
            <pnx-nomenclature
              [parentFormControl]="formVisit.controls.cor_visit_perturbation"
              [multiSelect]="true"
              keyValue="id_nomenclature"
              [bindAllItem]="true"
              keyLabel="label_default"
              [disabled]="disabledForm"
              codeNomenclatureType="TYPE_PERTURBATION"
            >
            </pnx-nomenclature>
          </div>
        </div>

        <div class="form-group" formArrayName="taxonsVisit">
          <label> Espèces présentes : </label>
          <div class="form-check" *ngFor="let taxon of taxonsVisit.controls; let i = index">
            <input
              [formControlName]="i"
              class="form-check-input"
              type="checkbox"
              id="id-{{ i }}"
              [checked]="taxon.value"
            />
            <label class="form-check-label" for="id-{{ i }}">
              {{ species[i].name }}
            </label>
          </div>
        </div>

        <div class="form-group">
          <label> Commentaires : </label>
          <div class="">
            <textarea
              class="form-control"
              rows="2"
              id="commentaire"
              [formControl]="formVisit.controls.comments"
            ></textarea>
          </div>
        </div>
      </fieldset>
    </form>

    <div *ngIf="nonHabitatTaxa.length > 0">
      <h4>Taxons présents non compris dans la liste de taxons caractéristiques</h4>
      <ul>
        <li *ngFor="let taxaCode of nonHabitatTaxa">
          <i>{{ taxaCode }}</i>
        </li>
      </ul>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary box-shadow mr-auto"
      (click)="onClose()"
    >
      <i class="fa fa-times-circle" aria-hidden="true"> </i>
      Fermer
    </button>
    <button
      *ngIf="!idVisit || onUpVisit"
      type="button"
      class="btn btn-success"
      (click)="onSave()"
      [disabled]="!formVisit.valid"
    >
      Enregistrer
    </button>
  </div>
</ng-template>

<button [ngClass]="classStyle" (click)="open(content)">
  <i class="{{ iconStyle }}" aria-hidden="true"> </i>
  {{ labelButton }}
</button>
