<div class="row row-0">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm tab-container list-sft">
        <h3> Sites </h3>
        <div class="wrapper-filter">
            <div id="blocSearch" class="row row-0 ">
                <div class="searchZP">
                    <small> Année de visite </small>
                    <input type="number">
                </div>
            </div>
            <div class="searchZP">
                <small> Habitat </small>
                <select class="form-control form-control-sm" name="monSelect" >
                    <option [ngValue]=null> -- Sélectionnez un filtre -- </option>
                    <option [ngValue]=null> Tous </option>
                </select>
            </div>
            <div class="searchZP">
                <small> Organisme </small>
                <select class="form-control form-control-sm" name="monSelect" >
                    <option [ngValue]=null> -- Sélectionnez un filtre -- </option>
                    <option [ngValue]=null> Tous </option>
                </select>
            </div>
            <div class="searchZP">
                <small> Commune </small>
                <select class="form-control form-control-sm" name="monSelect" >
                    <option [ngValue]=null> -- Sélectionnez un filtre -- </option>
                    <option [ngValue]=null> Tous </option>
                </select>
            </div>
        </div>
        <div class="wrapper-datatable">
            <ngx-datatable #table class="material" [rows]="filteredData" maxWidth="90" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
            [columnMode]="'force'" [selected]="mapListService.selectedRow" [selectionType]="'single'" (select)="mapListService.onRowSelect($event)"
            [rowClass]="mapListService.getRowClass" [offset]="mapListService.page.pageNumber" [limit]="mapListService.page.size"
            [messages]="storeService.shtConfig.site_message">
            <ngx-datatable-column *ngFor="let col of storeService.shtConfig.default_site_columns" [name]="col.name" [prop]="col.prop" [maxWidth]="col.width"> 
            </ngx-datatable-column> 
        
                <ngx-datatable-column maxWidth="90">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button type="button" class="btn btn-info fa fa-eye" title="Visualiser">
                        </button>
                    </ng-template>
                </ngx-datatable-column>
            
            </ngx-datatable>
        </div>
    </div>

 

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm">
        <pnx-map height="94vh" [center]="storeService.shtConfig.zoom_center" [zoom]="12">
                <pnx-geojson [geojson]="sites">
                </pnx-geojson>
        </pnx-map>
    </div>
</div>